--trusted-host 192.168.20.127:6060
--extra-index-url http://192.168.20.127:6060/simple

altair==5.4.1 ; python_full_version == "3.10.12"
annotated-types==0.7.0 ; python_full_version == "3.10.12"
attrs==24.2.0 ; python_full_version == "3.10.12"
blinker==1.9.0 ; python_full_version == "3.10.12"
boto3==1.35.60 ; python_full_version == "3.10.12"
botocore==1.35.60 ; python_full_version == "3.10.12"
cachetools==5.5.0 ; python_full_version == "3.10.12"
certifi==2024.8.30 ; python_full_version == "3.10.12"
charset-normalizer==3.4.0 ; python_full_version == "3.10.12"
click==8.1.7 ; python_full_version == "3.10.12"
colorama==0.4.6 ; python_full_version == "3.10.12" and (platform_system == "Windows" or sys_platform == "win32")
deprecated==1.2.14 ; python_full_version == "3.10.12"
duckdb==1.1.3 ; python_full_version == "3.10.12"
gitdb==4.0.11 ; python_full_version == "3.10.12"
gitpython==3.1.43 ; python_full_version == "3.10.12"
idna==3.10 ; python_full_version == "3.10.12"
jinja2==3.1.4 ; python_full_version == "3.10.12"
jmespath==1.0.1 ; python_full_version == "3.10.12"
jsonschema-specifications==2024.10.1 ; python_full_version == "3.10.12"
jsonschema==4.23.0 ; python_full_version == "3.10.12"
loguru==0.7.2 ; python_full_version == "3.10.12"
markdown-it-py==3.0.0 ; python_full_version == "3.10.12"
markupsafe==3.0.2 ; python_full_version == "3.10.12"
mdurl==0.1.2 ; python_full_version == "3.10.12"
module-typica==0.1.14 ; python_full_version == "3.10.12"
narwhals==1.13.5 ; python_full_version == "3.10.12"
numpy==2.1.3 ; python_full_version == "3.10.12"
packaging==24.2 ; python_full_version == "3.10.12"
pandas==2.2.3 ; python_full_version == "3.10.12"
pillow==11.0.0 ; python_full_version == "3.10.12"
protobuf==5.28.3 ; python_full_version == "3.10.12"
pyarrow==18.0.0 ; python_full_version == "3.10.12"
pydantic-core==2.23.4 ; python_full_version == "3.10.12"
pydantic-settings==2.6.1 ; python_full_version == "3.10.12"
pydantic==2.9.2 ; python_full_version == "3.10.12"
pydeck==0.9.1 ; python_full_version == "3.10.12"
pygments==2.18.0 ; python_full_version == "3.10.12"
python-dateutil==2.9.0.post0 ; python_full_version == "3.10.12"
python-dotenv==1.0.1 ; python_full_version == "3.10.12"
pytz==2024.2 ; python_full_version == "3.10.12"
referencing==0.35.1 ; python_full_version == "3.10.12"
requests==2.32.3 ; python_full_version == "3.10.12"
rich==13.9.4 ; python_full_version == "3.10.12"
rpds-py==0.21.0 ; python_full_version == "3.10.12"
s3transfer==0.10.3 ; python_full_version == "3.10.12"
six==1.16.0 ; python_full_version == "3.10.12"
smmap==5.0.1 ; python_full_version == "3.10.12"
streamlit==1.40.1 ; python_full_version == "3.10.12"
tenacity==9.0.0 ; python_full_version == "3.10.12"
toml==0.10.2 ; python_full_version == "3.10.12"
tornado==6.4.1 ; python_full_version == "3.10.12"
typing-extensions==4.12.2 ; python_full_version == "3.10.12"
tzdata==2024.2 ; python_full_version == "3.10.12"
urllib3==2.2.3 ; python_full_version == "3.10.12"
watchdog==6.0.0 ; platform_system != "Darwin" and python_full_version == "3.10.12"
win32-setctime==1.1.0 ; sys_platform == "win32" and python_full_version == "3.10.12"
wrapt==1.16.0 ; python_full_version == "3.10.12"
